input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.coinTable {
    width: 100%;
    border-collapse: collapse;
}

.coinTable th,
.coinTable td {
    padding: 12px 16px;
    text-align: center;
}

.coinTable th {
    color: #666;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}

.coinTable td {
    border-bottom: 1px solid #f5f5f5;
}

.positive {
    color: #4caf50;
    display: flex;
    align-items: center;
    gap: 5px;
}

.negative {
    color: #f44336;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button{
    border-radius: 8px;
    border: none;
    font-size: small;
    padding: 5px 15px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.button:hover{
    /* background-color: var(--primary-color-dark); */
    transform: scale(1.1);
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.nameCell {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .arrowWrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .arrowLeft {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid rgb(60, 60, 60);
  }

  .arrowRight {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 10px solid rgb(60, 60, 60);
  }

  .arrowWrapper:hover{
    transform: scale(1.1);
  }

  .disabled {
    border-right-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .pageInput {
    width: 20px;
    text-align: center;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }